 @font-face {
     font-family: "YandexSansText-Regular";
     src: url(font/YandexSansText-Regular.ttf);
 }

 @font-face {
     font-family: "YandexSansText-Medium";
     src: url(font/YandexSansText-Medium.ttf);
 }

 @font-face {
     font-family: "YandexSansText-Bold";
     src: url(font/YandexSansText-Bold.ttf);
 }

 * {
     padding: 0;
     margin: 0;

 }

 body {
     font-family: "YandexSansText-Regular", sans-serif;
     font-size: 15px;
 }


 /*--------------- start grid---------------*/

 .wrapper {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(3, auto);
 }


 .header_wrap {
     grid-column: 1/2;
     grid-row: 1/2;
     display: grid;
     grid-template-columns: 1fr minmax(auto, 155px) minmax(auto, 930px) 1fr;
     grid-template-rows: 70px;
 }

 .main_wrap {
     grid-column: 1/2;
     grid-row: 2/3;
     display: grid;
     grid-template-columns: 1fr minmax(auto, 155px) minmax(auto, 930px) 1fr;
     grid-template-rows: 1fr;

 }

 .footer_wrap {
     grid-column: 1/2;
     grid-row: 3/4;
     display: grid;
     grid-template-columns: 1fr minmax(auto, 155px) minmax(auto, 930px) 1fr;
     grid-template-rows: 1fr;
 }

 .header__logo {
     grid-column: 2/4;
     grid-row: 1/2;

 }

 .header__menu {
     grid-column: 3/4;
     grid-row: 1/2;
 }

 .main_wrap .ym-menu {
     grid-column: 2/4;
     grid-row: 1/2;
 }

 .main_wrap .card-wrap {
     grid-column: 3/4;
     grid-row: 1/2;
 }

 .footer-grid {
     grid-column: 2/4;
     grid-row: 1/2;
 }

 /*--------------------end grid----------------------------*/

 /*---------------------start header----------------*/

 .service-logo__link {
     display: inline-block;
     width: 150px;
     height: 31px;
     background-image: url(img/Y_money.png);
     background-size: cover;
     margin-top: 18px;

 }

 .input__control {
     height: 36px;
     width: 260px;
     border-right-width: 11px;
     border-left-width: 11px;
     box-sizing: border-box;
     border: 1px solid rgba(0, 0, 0, .2);
     font-size: 15px;
     background-clip: padding-box;
     transition: .1s ease-out;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
     margin-top: 18px;
     margin-left: 20px;
     padding-left: 10px;

 }

 .header__button {
     background-color: white;
     color: black;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     border: 1px solid rgba(0, 0, 0, .2);
     height: 36px;
     width: 79px;
     font-size: 15px;
     margin-left: -4px;
 }


 /*--------------------end header---------------------*/

 /*-----------------start main----------------*/

 .pad_top {
     padding-top: 10px;
 }

 .mad_top {
     margin-top: 20px;
 }

 .main {
     background-color: #F6F5F3;
     padding-bottom: 95px;
 }

 /*-------------------ym-menu-----------------*/

 .ym-menu {
     list-style-type: none;
     width: 155px;
 }

 .ym-menu__item {
     padding: 3px 0;
     font-size: .8125rem;
     line-height: 1.875rem;
     color: #999;
     white-space: normal;
     margin-right: 20px;
 }

 .ym-menu__link {
     text-decoration: none;
     color: inherit;
     transition: color .3s ease 0s;
     display: inline-block;
     vertical-align: middle;
     transition: color .3s ease 0s;

 }

 .ym-menu__item:hover {
     color: #000;
 }

 .ym-menu__item_state_current {
     color: #000;
     padding-left: 15px;
     margin-left: -15px;
     background-color: #fff;
     border-radius: 3px;
 }

 /*----------------------card view--------------*/

 .card-view-text {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }




 .card-view {
     width: 296px;
     height: 315px;
     flex: 0 1 auto;
     align-self: auto;
     background: #fff;
     padding: 20px 18px;
     box-sizing: border-box;
     margin-right: 22px;
 }

 .card-view__title {
     font-size: 1.375rem;
     color: #000;
     font-weight: normal;
     padding-bottom: 35px;
 }

 .card-view__link {
     display: block;
     width: 260px;
     height: 165px;
     background-image: url(img/virtual%20card.svg);
     background-size: cover;
     position: relative;

 }

 .card-view__numder {
     font-size: 1.125rem;
     color: #fff;
     position: absolute;
     top: 90px;
     left: 18px;
 }

 .card-view__numder-data {
     font-size: .8125rem;
     top: 130px;
     left: 18px;
     position: absolute;
     color: #fff;
 }

 /*-------------------card-text------------*/

 .text-card {
     background: #fff;
     padding: 20px 18px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
 }

 .text-card__title {
     font-size: 1.375rem;
     color: #000;
     font-weight: normal;
     padding-bottom: 35px;
 }

 .text-card__image-info {
     align-self: center;
 }

 .image_name_text-block-sms {
     width: 164px;
     height: 200px;
 }

 .text-card__text-info {
     flex-grow: -1;
 }

 .text-card__text {
     font-size: .9375rem;
     line-height: 1.25rem;
     padding-bottom: 25px;
 }

 .text-card__link {
     text-decoration: none;
     color: #4d7fd2;
     transition: color .15s ease-out;
     font-size: 15px;
 }

 .text-card__link:hover {
     color: #f33;
 }

 /*---------------card promo--------------*/

 .card-promo {
     background: linear-gradient(to bottom, #3475b8 0%, #223e9c 100%);
     padding-left: 40px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
 }

 .card-promo__card {
     position: relative;
 }

 .card-promo__banner {
     /*  position: absolute;*/
     background-image: url(img/banner%20maket.svg);
     width: 130px;
     height: 40px;
     background-size: cover;
     /* top: 56px;
    right: 35px;*/
     transition: all .3s cubic-bezier(.165, .84, .44, 1);
 }

 .card-promo__banner-title {
     font-size: 9px;
     font-family: "YandexSansText-Medium";
     margin-left: 13px;
     position: absolute;
     top: 10px;
 }

 .card-promo__banner_transition_left {
     position: absolute;
     top: 56px;
     right: 35px;
     width: 130px;
     height: 40px;
     overflow: hidden;
     transition: all 0.3s cubic-bezier(.165, .84, .44, 1);

 }

 .card-promo_effect_shadow:hover .card-promo__banner {
     transform: translateX(130px);
     opacity: 0;
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
 }

 .card-promo_effect_shadow:hover .card-promo__banner_transition_left {
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
     right: 51px;
 }

 .card-promo__icon-link {
     display: block;
     width: 330px;
     height: 210px;
     margin: 35px 50px 30px 0;
     border-radius: 9px;
 }

 .card-promo__icon-link_card1 {
    background-image: url(img/card.svg);
    background-size: cover;
 }

 .card-promo__icon-link_card2 {
    background-image: url(img/card1.png);
    background-size: cover;
}

.card-promo__icon-link_card3 {
    background-image: url(img/card2.png);
    background-size: cover;
}

.card-promo__icon-link_card4 {
    background-image: url(img/card3.png);
    background-size: cover;
}

.card-promo__icon-link_card5 {
    background-image: url(img/card4.png);
    background-size: cover;
}

.card-promo__icon-link_card6 {
    background-image: url(img/card5.png);
    background-size: cover;
}

 .card-promo__slide {
     list-style-type: none;
     padding-left: 65px;
 }

 .card-promo__slide-item {
     display: inline-block;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     background-color: #6681B7;
     cursor: pointer;
     margin-right: 20px;
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
 }

 .card-promo__slide-item_select,
 .card-promo__slide-item:hover {
     background-color: #fff;
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
 }



 .card-promo__title {
     font-size: 1.5rem;
     line-height: 26px;
     margin-top: 30px;
     margin-bottom: 20px;
     font-weight: 400;
     color: #fff;
     white-space: normal;
 }

 .paragraph {
     color: #fff;
     white-space: normal;
     margin: 0 0 20px;
     line-height: 1.25rem;
     font-size: .9375rem;
 }

 .card-promo__list {
     list-style-type: none;

 }

 .card-promo__item {
     line-height: 24px;
     color: #fff;
     white-space: normal;
     margin-bottom: 25px;
     font-size: .9375rem;
     background: url(img/chek.svg) no-repeat left center;
     padding-left: 34px;
 }

 .card-promo__price {
     color: #ffdb4d;
     font-size: 1.25rem;
     line-height: 35px;
     margin-bottom: 20px;
     font-family: "YandexSansText-Bold";
 }

 .promo-button {
     transition: all 120ms;
     font-size: 1.125rem;
     line-height: 2.375rem;
     text-decoration: none;
     color: #fff;
     border-radius: 4px;
     border: 2px solid #fff;
     width: 128px;
     height: 36px;
     display: block;
     text-align: center;
     margin-bottom: 35px;
 }



 .promo-button:hover {
     opacity: 0.6;
 }

 .promo-button:active {
     transform: translateY(1.5px);
 }

 .card-promo_effect_shadow .card-promo__icon-link {
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
 }

 .card-promo_effect_shadow:hover .card-promo__icon-link {
     box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .4);
     transition: all .6s cubic-bezier(.165, .84, .44, 1);
 }

 /*----------------card moment-----------------*/

 .card-moment {
     background-color: #fff;
     padding: 35px 18px;

 }

 .card-moment__paragraph {
     margin-bottom: 10px;
     line-height: 1.25rem;
 }

 .card-moment__button {
     text-align: center;
     text-decoration: none;
     display: block;
     width: 95px;
     height: 28px;
     font-size: 13px;
     line-height: 28px;
     color: #000;
     border: 1px solid rgba(0, 0, 0, .2);
     border-radius: 3px;

 }

 /*------------------end main----------------------*/

 .footer {
     background-color: #2c2b29;
 }

 .footer-grid {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
     margin-bottom: 90px;
 }

 .footer__title {
     color: #fff;
     line-height: 1.375rem;
     font-weight: normal;
     text-transform: uppercase;
     letter-spacing: .8px;
     cursor: pointer;
     transition: color .15s ease-out;
     font-size: .8125rem;
     margin-bottom: 6px;

 }

 .footer__hit {
     color: #fff;
     line-height: 1.625rem;
     cursor: pointer;
 }

 .footer__title:hover,
 .footer__row:hover,
 .footer__hit:hover {
     color: rgb(254, 213, 85);
 }

 .footer__column {
     padding-top: 15px;
 }

 .footer__row {
     color: #828282;
     line-height: 1.625rem;
     font-size: .9375rem;
     cursor: pointer;
 }

 /*-----------------page-card------------*/

 .card-promo__link-deg {
     color: #fff;
     line-height: 1.375rem;
     text-align: right;
     display: block;
     margin-right: 50px;
     margin-bottom: 25px;
     margin-top: -10px;
     text-decoration: none;
 }

 .card-promo__link-deg:hover {
     opacity: 0.6;
 }

 .card-promo__title_size_l {
     font-size: 2.625rem;
     font-weight: 200;
     margin: 20px 0 25px;
     line-height: 26px;
 }

 .paragraph_size_m {
     font-size: 1.5rem;
     line-height: 1.875rem;
     margin-bottom: 40px;
 }